@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using sawal.Models;
@using sawal.Common;

@{
    var blogs = (BlogListModel)ViewBag.BlogListModel;
}
<div class="header" id="page-top">
    <div class="header-text">
        @*<h1>An investment in knowledge pays the best interest.</h1>
            <h1>Any fool can know. The point is to understand.</h1>*@
        <h1>"The only true wisdom is in knowing you know nothing."</h1>
        -Socrates
    </div>
    <div class="bottom-triangle hor-border-blue"></div>
</div>

<div class="data-section" id="read">
    <div class="container-fluid cf-90">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    @{
                        foreach (BlogModel blog in blogs.BlogList) {
                            if (blog.BlogTypeId == BlogType.Book && blog.Active) {
                                <div class="col-sm-12 col-md-3 col-lg-3 book-item radial-overlay" onclick="javascript:window.open('@blog.Url', '_blank')">
                                    <img src="@blog.ImagePath" />
                                    <span>@blog.Title</span>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="data-section" id="portfolio">
    <div class="container-fluid cf-50">
        <div class="row pad-vert-5">
            <div class="col-sm-12">
                <p>Greetings! My name is Victor Sawal, an IT Consultant based in <a href="https://en.wikipedia.org/wiki/Toronto">Toronto, Ontario</a>. I have worked with <a href="http://www.wcg-itx.com/">Walseth Consulting Group, Inc.</a>, serving international clients like <a href="http://www.advancehealth.com/">Advance Health</a>.</p>
            </div>
        </div>
        <div class="row recent pad-top-5">
            <div class="col-sm-12 text-center">
                <h3>Recent Projects</h3>
            </div>
            <div class="col-sm-12 recent-list">
                @{
                    var i = 0;
                    foreach (BlogModel blog in blogs.BlogList) {
                        if (blog.BlogTypeId == BlogType.Application && blog.Active) {
                            i++;
                            <div class="row pad-vert-5">
                                <div class="col-sm-12 col-md-8 recent-list-title">
                                    <a href="@blog.Url">@blog.Title</a>
                                </div>
                                <div class="col-sm-12 col-md-4 recent-list-date">
                                    @blog.PublishDate.ToString("MMM dd, yyyy")
                                </div>
                            </div>
                        }
                        if (i == 3) {
                            break;
                        }
                    }

                    if (i == 0) {
                        <div class="row pad-vert-5">
                            <div class="col-sm-12 col-md-12 text-center">
                                <h3>
                                    Nothing here yet, but it's on the way!<br />
                                    Check back soon.
                                </h3>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row recent pad-top-5">
            <div class="col-sm-12 text-center">
                <h3>Recent Blogs</h3>
            </div>
            <div class="col-sm-12 recent-list">
                @{
                    i = 0;
                    foreach (BlogModel blog in blogs.BlogList) {
                        if (blog.BlogTypeId == BlogType.Blog && blog.Active) {
                            i++;
                            <div class="row pad-vert-5">
                                <div class="col-sm-12 col-md-8 recent-list-title">
                                    <a href="@blog.Url">@blog.Title</a>
                                </div>
                                <div class="col-sm-12 col-md-4 recent-list-date">
                                    @blog.PublishDate.ToString("MMM dd, yyyy")
                                </div>
                            </div>
                        }
                        if (i == 2) {
                            break;
                        }
                    }

                    if (i == 0) {
                        <div class="row pad-vert-5">
                            <div class="col-sm-12 col-md-12 text-center">
                                <h3>
                                    Nothing here yet, but it's on the way!<br />
                                    Check back soon.
                                </h3>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>